 .login-container {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-card {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    text-align: center;
    color: white;
    height: 100vh;
    
}

 
.main-logo {
    width: 185px; 
    height: 185px;
    margin-bottom: 5px;
    border-radius: 50%;
     
     
}

.brand-name {
    font-size: 40px;
    letter-spacing: 5px;
    margin: 0;
    font-weight: bold;
    
}

.logo-section{
    display: inline-block;
   
}

.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom:5px;
    margin-top: 5px;
}

.subtitle-container .line {
    height: 2px;
    width: 45px;
    background-color: #d32f2f;
}

.subtitle {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.login-title {
    font-size:18px;
    margin-bottom: 30px;
    font-weight: 400;
}

 
.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

 
.clean-input {
    border: none !important;
    outline: none !important;
    background: transparent !important;  
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

 
.clean-input:-webkit-autofill,
.clean-input:-webkit-autofill:hover, 
.clean-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.icon-box {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.eye-icon {
    cursor: pointer;
    opacity: 0.7;
}

.forgot-pass {
    text-align: right;
    margin-top: -5px;
}

.forgot-pass a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
 
.login-button {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.login-button:hover {
    background: #b71c1c;
}

 
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.divider .line {
    height: 1px;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.3);
}

.divider span {
    font-size: 14px;
    color: #ddd;
}

 
.social-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-circle {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-circle img {
    width: 25px;
    height: 25px;
}

 
.social-circle.fb img {
    width: 35px;  
    height: 35px;
}
@media (max-width: 600px) {
    .login-card {
        max-width: 95%;  
        padding: 15px;
    }
    
    .brand-name {
        font-size: 32px; 
    }
    
    .social-group {
        gap: 20px; 
    }
}